# {{ collection_name }}

## Modules in collection

{% for module in modules | sort %}
- [{{ module }}](/collections/{{ collection_name }}/module_{{ module }}.html)
{%- endfor %}

## Roles in collection

{% for role in roles | sort %}
- [{{ role }}](/collections/{{ collection_name }}/role_{{ role }}.html)
{%- endfor %}
