# To use the roles and playbooks defined in this repository,
# you also need to install the following Python packages
ansible=2.9.9
ansible-lint
ansible-test
hvac
async-hvac
autopep8
black
flake8
ovh
pep8
pylint
pytest