[data-md-color-primary="article714"] {
    --md-primary-fg-color: #2863c8ff;
    --md-primary-fg-color--light: #7199ddff;
    --md-primary-fg-color--dark: #093887ff;
    --md-primary-bg-color: #fff;
    --md-primary-bg-color--light: hsla(0,0%,100%,.7);
  }
  [data-md-color-scheme="article714"] {
    --md-code-bg-color: #8976e022;
    --md-footer-bg-color: var(--md-primary-fg-color);
    --md-footer-bg-color--dark: var(--md-primary-fg-color--dark);
    --md-code-hl-comment-color: #cc8300ff;
  }

/*   [data-md-color-scheme="article714"] { */
/*     --md-hue: 251; */
/*     --md-hue-fg: 48; */
/*     --md-default-fg-color: hsla(var(--md-hue-fg),15%,90%,1); */
/*     --md-default-fg-color--light: hsla(var(--md-hue-fg),15%,90%,0.82); */
/*     --md-default-fg-color--lighter: hsla(var(--md-hue-fg),15%,90%,0.62); */
/*     --md-default-fg-color--lightest: hsla(var(--md-hue-fg),15%,90%,0.42); */
/*     --md-default-bg-color: hsla(var(--md-hue),15%,21%,1); */
/*     --md-default-bg-color--light: hsla(var(--md-hue),15%,21%,0.54); */
/*     --md-default-bg-color--lighter: hsla(var(--md-hue),15%,21%,0.26); */
/*     --md-default-bg-color--lightest: hsla(var(--md-hue),15%,21%,0.07); */
/*     --md-code-fg-color: hsla(var(--md-hue),18%,86%,1); */
/*     --md-code-bg-color: hsla(var(--md-hue),15%,15%,1); */
/*     --md-code-hl-color: #674fd5ff; */
/*     --md-code-hl-number-color: #ffe475ff; */
/*     --md-code-hl-special-color: #ffce00ff; */
/*     --md-code-hl-function-color: #cc8300ff; */
/*     --md-code-hl-constant-color: #9383e2; */
/*     --md-code-hl-keyword-color: #497cd1ff; */
/*     --md-code-hl-string-color: var(--md-default-fg-color--light); */
/*     --md-code-hl-name-color: var(--md-code-fg-color); */
/*     --md-code-hl-operator-color: var(--md-default-fg-color--lighter); */
/*     --md-code-hl-punctuation-color: var(--md-default-fg-color--lighter); */
/*     --md-code-hl-generic-color: #ffce75ff; */
/*     --md-code-hl-variable-color: #ffce75ff; */
/*     --md-typeset-color: var(--md-default-fg-color); */
/*     --md-typeset-a-color: var(--md-primary-fg-color); */
/*     --md-typeset-mark-color: #093887ff; */
/*     --md-typeset-kbd-color: hsla(var(--md-hue),15%,94%,0.12); */
/*     --md-typeset-kbd-accent-color: hsla(var(--md-hue),15%,94%,0.2); */
/*     --md-typeset-kbd-border-color: hsla(var(--md-hue),15%,14%,1); */
/*     --md-typeset-table-color: hsla(var(--md-hue),75%,95%,0.12); */
/*     --md-admonition-bg-color: hsla(var(--md-hue),0%,100%,0.025); */
/*     --md-footer-bg-color: hsla(var(--md-hue),15%,12%,0.87); */
/*     --md-footer-bg-color--dark: hsla(var(--md-hue),15%,10%,1); */
/*   } */

.c1 {
  color: #cc8300ff;
}

.md-typeset pre {
  font-size: .7rem;
  line-height: 1.5;
}

.md-typeset{
  font-size: .7rem;
  line-height: 1.5;
}

:root {
    --md-accent-fg-color:#ffa400ff;
  }

.md-typeset h1{
    color: #093887ff;
    font-weight: 600;
}
.md-typeset h2{
    color: #093887ff;
    font-weight: 400;
}
