[Unit]
Description=Logstash

[Service]
Type=simple
User=logstash
Group=logstash
ExecStart={{ logstash_dir }}/bin/logstash -f {{ logstash_config_dir }}/conf.d/pipelines.conf --path.settings {{ logstash_config_dir }}
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target