input {
  file {
    path => "/var/log/syslog"
    start_position => "beginning"
  }
}

filter {
  if [type] == "syslog" {
    grok {
      match => { "message" => "%{SYSLOGTIMESTAMP:syslog_timestamp} %{SYSLOGHOST:syslog_hostname} %{DATA:syslog_program}(?:\[%{POSINT:syslog_pid}\])?: %{GREEDYDATA:syslog_message}" }
      add_field => [ "received_from", "%{host}" ]
    }
    date {
      match => [ "syslog_timestamp", "MMM  d HH:mm:ss", "MMM dd HH:mm:ss" ]
    }
  }
}

output {
  opensearch {
    hosts => ["{{ logstash_endpoint }}"]
    index => "{{ logstash_index }}"
    user  => "{{ logstash_user }}"
    action => "create"
    password => "{{ logstash_password }}"
  }
}