---
network:
  version: {{ netplan_config_version }}
  ethernets:
{% if public_netif is defined %}
    {{ public_netif }}:
        dhcp4: true
{% if public_macaddress is defined %}
        match:
          macaddress: {{ public_macaddress }}
        mtu: 1500
{% endif %}
        set-name:  {{ public_netif }}
{% if pci_ipfos is defined and pci_ipfos %}
        addresses:
{% for someip in pci_ipfos %}
          - {{ someip }}/32
{% endfor %}
{% endif %}
{% endif %}
{% if private_netif is defined %}
    {{ private_netif }}:
{% if private_macaddress is defined %}
        match:
          macaddress: {{ private_macaddress }}
        mtu: 1500
{% endif %}
        set-name:  {{ private_netif }}
{% if private_ips is defined and private_ips %}
        addresses:
{% for someip in private_ips %}
          - {{ someip['ip'] }}/16
{% endfor %}
{% endif %}
{% endif %}