
{% set meta = role.meta | default({}) %}
---
title: {{ meta.role_name.value | save_join("") }}
tags:
{% for galaxy_tag in meta.galaxy_tags.value %}
    - {{ galaxy_tag }}
{% endfor %}

---

{% if False | deep_get(meta, "name.value") %}
# {{ meta.name.value | save_join("") }}
{% endif %}
{% if False | deep_get(meta, "short_description.value") %}
    *{{ meta.short_description.value | save_join("\n") }}*
{% endif %}

{#      Meta      #}
{% include '_meta.j2' %}

{% if False | deep_get(meta, "description.value") %}
{{ meta.description.value | save_join("\n") }}
{% endif %}


{% if False | deep_get(meta, "with_content.value") %}
{% include meta.with_content.value | save_join("") ignore missing %}
{% endif %}

{#      Vars      #}
{% include '_vars.j2' %}

{#      Tags      #}
{% include '_tag.j2' %}
